.hm {
    list-style-type: none;
    font-size: small;
    display: inline-block;
    padding: 7px;
}
.ino {
    text-decoration: none;
    font-weight: 800;
}
.wede {
    background: red;
    width: 100px;
    height: 100px;
    padding: 20px;
    border-radius: 100%;
}

.asede {
    background: blue;
    box-sizing: border-box;
    height: 100px;
    padding: 20px;
    width: 100px;
    border-radius: 100%;
}
.wedego {
    background: green;
    box-sizing: border-box;
    padding: 20px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    
}
